:root{
    --primary:hsla(64, 18%, 70%, 1);
    --secondary:hsla(64, 10%, 20%, 1);
    --accent:hsla(46, 83%, 40%, 1);
    --hover:hsl(46, 20%, 40%);
    --radius:0.5rem;
    --max-width:1500px;
}
:root[data-theme="clair"]{
    --primary:hsla(64, 18%, 70%, 1);
    --secondary:hsla(64, 10%, 20%, 1);
    --accent:hsla(46, 83%, 40%, 1);
    --hover:hsl(46, 20%, 40%);
    --radius:0.5rem;
    --max-width:1500px;
}
:root[data-theme="sombre"]{
    --primary:hsla(64, 18%, 20%, 1);
    --secondary:hsla(64, 10%, 80%, 1);
    --accent:hsla(46, 83%, 40%, 1);
    --hover:hsl(46, 20%, 20%);
    --radius:0.5rem;
    --max-width:1500px;
}

@media (max-width: 768px) {
    .nav-menu{
        display: none;
        visibility: hidden;
        flex-direction: column;
        gap: 10px;
        background: var(--secondary);
        position: absolute;
        top: 60px;           /* sous le nav */
        right: 20px;
        width: 200px;
        padding: 10px;
        border-radius: var(--radius);
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    }
    #hamburger{
        display: block;
        height: 100%;
        width: auto;
        opacity: 1;
        visibility: visible;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--primary);
    }
}

*{
    margin: 0;
    padding:0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

html, body, main, .vitrine{
    min-height: 100%;
    height: fit-content;
}


body{    
    background-color: var(--primary) !important;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;      
}
.header-image{
    background-image: url(./assets/banniere.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    width: 100%;
}
.nav-custom{
    box-sizing: border-box;
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    height: 64px;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 100;
}
.nav-menu{
    display: flex;
    direction: row;
    color:var(--primary);
    gap: 16px;
    margin-left: -96px;
}
.nav-I{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    gap:8px  
}
.brand{
    margin-top: -32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brand img{
    height: 40%;
    width: auto;
    object-fit: contain;
}
.brand p{
    margin-top: -32px;
}
.barre-rech{
    display: flex;
    direction: row;
    height: 60%;
}
.barre-rech > input{
    background-color: var(--primary);
    padding-left: 8px;
    border:1px solid var(--primary) ;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    color: var(--secondary);
}
.barre-rech > button{
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
nav li{
    display: flex;
    justify-content: center;
}
nav a, footer a{
    text-decoration: none;
    color: var(--primary);
    transition: color 0.3s ease-in;
}
nav label{
    color:var(--primary);
}
.dropdown {
  position: relative;
}
.dropdown-button {
  color: var(--secondary);
  cursor: pointer;
  background-color: var(--accent);
  border-radius: 8rem;
  padding:4px 8px;
}
.dropdown-content {    
    position: absolute;
    top: 80%;
    background-color: var(--accent);
    min-width: 160px;
    max-width: 200px;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 1;

    /*transition*/
    display: block;
    flex-direction: column;
    opacity: 0;
    height: 0;
    transition: height 0.3s ease-in, opacity 0.3s ease-in;
}
.dropdown-content a {
  color: var(--secondary);
  padding: 8px 12px;
  width: 100%;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in;
}
.dropdown-content a:hover {
  background-color: hsla(64, 18%, 70%, 0.4);
}
.dropdown.show .dropdown-content {
/* ouvert */
  display: block;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
#hamburger{
    display: none;
    opacity: 0;
    transition: visibility 0.3s ease-in, opacity 0.3s ease-in;
}
#compte-btns{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
#compte-btns > a{
    justify-content: center;
    align-items: center;
    text-decoration: none; /* retire le soulignement */
    height: 100%;
    font-size: 16;
    padding: 2px 4px; /* petit confort visuel */
    transition: background-color 0.3s ease-in;
}
.separateur{
    width: 2px;
    height: 100%;
    background-color: var(--secondary);
}
a{
    color: var(--secondary);
    transition: color 0.3s ease-in;
}
a:hover{
    color: var(--hover)
}
button{
    transition: background-color 0.3s ease-in;
    padding: 1px 2px;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--primary);
    font-size: 16px;
}
.btn-imp{
    background-color: var(--accent); 
    border:1px solid var(--primary);   
    display: flex;
    align-items: center;
    justify-content: center;        
    color: var(--secondary);     
}
.btn-normal{
    background-color: var(--secondary);
    border:1px solid var(--accent);   
    display: flex;
    align-items: center;
    justify-content: center;  
}
form button{
    margin-left: -1px;
    
}
button:hover{    
    background-color: var(--hover);
    cursor: pointer;
}
.vitrine{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes de largeur égale */
    gap: 38px; /* espace entre les annonces */
    width: 100%;
    margin: 16px auto;
    box-sizing: border-box;

    flex:1;
}
.annonce{
    height: 424px;
    width: 344px;
    border: 1px solid var(--secondary);
    border-radius: var(--radius);    
    overflow: hidden;
    background-color: black;
    color: var(--secondary);
    position: relative;
}
.annonce-texte-conteneur{   
    padding: 0px 4px 4px 4px;
    height: 50%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.annonce img{
    height: 50%;
    width: 100%;
    object-fit: contain;
    display: block; 
}
.annonce h2{
    display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}
.annonce h3{
    display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color:var(--secondary);
}
.annonce-auteur{
    font-weight: bold;
}
footer{
    background-color: var(--secondary);
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:32px;
    color: var(--primary);
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 16px auto;
}
.form-perso{
    margin-top: 16px;
    padding:8px 0px;
}
.form-ligne{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    color: var(--secondary);
}
.form-ligne label{
    width: 50%;
}
.form-ligne input{
    background-color:var(--secondary);
    color:var(--primary);
    font-size: 18px;
    width: 50%;
}
.form-ligne input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none; /* Safari */
  width: 24px;
  height: 24px;
  border: 2px solid var(--accent);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.form-ligne input[type="checkbox"]:checked {
  background-color: var(--accent);
}
.form-ligne input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 10px;
  height: 16px;
  border: solid var(--secondary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-ligne textarea{
    resize: none;
    height: 104px;
    width: 50%;
    background-color:var(--secondary);
    color:var(--primary);
    font-size: 20px;
}
.fieldset{
    padding: 0px 8px;
}
h1{
    color: var(--secondary);
    margin-bottom: 16px;
}
h2{
    color: var(--secondary);
}
.erreur{
    color:red

}
.succes{
    color:green;
}
.revenir-accueil{
    margin-top: 8;
    margin-bottom: 8;
    height: 24;
    align-self: center;

}
.connecte{
    color:var(--primary);
}
.btn-supprimer{
    background-color: red;
    position:absolute;
    height: 32px;
    width: 32px;
    right: 8px;
    top:8px
}
.btn-supprimer > img{
    height: 90%;
    width: 90%;
    object-fit: contain;
}
.demande-conf{
    display: flex;
    padding:0 16px;
    height: 64px;
    max-width: 100%;
    background-color: var(--accent);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.demande-conf > p{
    color:var(--secondary);
}
.page-profil{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex:1;
}
.vitrine-profil{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 colonnes de largeur égale */
    gap: 36px; /* espace entre les annonces */
    width: 50%;
    box-sizing: border-box;
    align-items: flex-start;
    flex:1;
}
